@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);



body {
    margin:0;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(114, 203, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 50vh;
    background-color: #fff;
    border-radius: 15px;
    padding: 1rem;
}

img {
    width: 40%;
}


.btn-outline {
    border: 1px solid;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 15px;
    border-color: rgb(114, 203, 255);
    font-weight: bold;
    color: rgb(0, 162, 255);
    transition: 0.2s;

}

.btn-outline:hover {
    background-color: rgb(114, 203, 255);
    color: #fff;
}

.btn {
    border: 1px solid;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 15px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(0, 162, 255);
    transition: 0.2s;
}

.btn:hover {
    background-color: rgb(0, 59, 94);
}

h1,h5 {
    color: rgb(0, 107, 168);
}

h4 {
    margin-top: 0;
    margin-bottom: 4rem;
    font-weight: 400;
}

h5 {
    margin-bottom: 2rem;
}

a {
    margin-bottom: 2rem;
    display: inline-block;
}